{"name":"books","displayName":"books","slug":"books","version":"0.0.1","sdkVersion":"50.0.0","platforms":["ios","android"],"android":{},"extra":{"eas":{"projectId":"0adf16cb-c5d0-438e-96b9-f434bd76448b"}},"ios":{},"owner":"ridi-app","updates":{"url":"https://u.expo.dev/0adf16cb-c5d0-438e-96b9-f434bd76448b"}}