<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Title</key>
            <string>Licenses</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
    
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@amplitude/analytics-react-native</string>
            <key>Title</key>
            <string>@amplitude/analytics-react-native</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-async-storage/async-storage</string>
            <key>Title</key>
            <string>@react-native-async-storage/async-storage</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@braze/react-native-sdk</string>
            <key>Title</key>
            <string>@braze/react-native-sdk</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-community/art</string>
            <key>Title</key>
            <string>@react-native-community/art</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-community/blur</string>
            <key>Title</key>
            <string>@react-native-community/blur</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-community/netinfo</string>
            <key>Title</key>
            <string>@react-native-community/netinfo</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-firebase/analytics</string>
            <key>Title</key>
            <string>@react-native-firebase/analytics</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-firebase/app</string>
            <key>Title</key>
            <string>@react-native-firebase/app</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-firebase/crashlytics</string>
            <key>Title</key>
            <string>@react-native-firebase/crashlytics</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-firebase/installations</string>
            <key>Title</key>
            <string>@react-native-firebase/installations</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-firebase/messaging</string>
            <key>Title</key>
            <string>@react-native-firebase/messaging</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-firebase/perf</string>
            <key>Title</key>
            <string>@react-native-firebase/perf</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native-masked-view/masked-view</string>
            <key>Title</key>
            <string>@react-native-masked-view/masked-view</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-navigation/bottom-tabs</string>
            <key>Title</key>
            <string>@react-navigation/bottom-tabs</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-navigation/native</string>
            <key>Title</key>
            <string>@react-navigation/native</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-navigation/stack</string>
            <key>Title</key>
            <string>@react-navigation/stack</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@ridi/colors</string>
            <key>Title</key>
            <string>@ridi/colors</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@ridi/object-case-converter</string>
            <key>Title</key>
            <string>@ridi/object-case-converter</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@sentry/react-native</string>
            <key>Title</key>
            <string>@sentry/react-native</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/airbridge-react-native-sdk</string>
            <key>Title</key>
            <string>airbridge-react-native-sdk</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/axios</string>
            <key>Title</key>
            <string>axios</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/expo</string>
            <key>Title</key>
            <string>expo</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@babel/runtime</string>
            <key>Title</key>
            <string>@babel/runtime</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/expo-asset</string>
            <key>Title</key>
            <string>expo-asset</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/expo-updates</string>
            <key>Title</key>
            <string>expo-updates</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/graphql</string>
            <key>Title</key>
            <string>graphql</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/he</string>
            <key>Title</key>
            <string>he</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/jwt-decode</string>
            <key>Title</key>
            <string>jwt-decode</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/lottie-ios</string>
            <key>Title</key>
            <string>lottie-ios</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/lottie-react-native</string>
            <key>Title</key>
            <string>lottie-react-native</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/qs</string>
            <key>Title</key>
            <string>qs</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react</string>
            <key>Title</key>
            <string>react</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-error-boundary</string>
            <key>Title</key>
            <string>react-error-boundary</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native</string>
            <key>Title</key>
            <string>react-native</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/yargs</string>
            <key>Title</key>
            <string>yargs</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-appsflyer</string>
            <key>Title</key>
            <string>react-native-appsflyer</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-fbsdk-next</string>
            <key>Title</key>
            <string>react-native-fbsdk-next</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-gesture-handler</string>
            <key>Title</key>
            <string>react-native-gesture-handler</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-get-random-values</string>
            <key>Title</key>
            <string>react-native-get-random-values</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-linear-gradient</string>
            <key>Title</key>
            <string>react-native-linear-gradient</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-modal</string>
            <key>Title</key>
            <string>react-native-modal</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-progress</string>
            <key>Title</key>
            <string>react-native-progress</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-reanimated</string>
            <key>Title</key>
            <string>react-native-reanimated</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@babel/types</string>
            <key>Title</key>
            <string>@babel/types</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-safe-area-context</string>
            <key>Title</key>
            <string>react-native-safe-area-context</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-screens</string>
            <key>Title</key>
            <string>react-native-screens</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-svg</string>
            <key>Title</key>
            <string>react-native-svg</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-tab-view</string>
            <key>Title</key>
            <string>react-native-tab-view</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-url-polyfill</string>
            <key>Title</key>
            <string>react-native-url-polyfill</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-native-webview</string>
            <key>Title</key>
            <string>react-native-webview</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/react-query</string>
            <key>Title</key>
            <string>react-query</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/ridi-graphql-schema</string>
            <key>Title</key>
            <string>ridi-graphql-schema</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/uuid</string>
            <key>Title</key>
            <string>uuid</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@babel/core</string>
            <key>Title</key>
            <string>@babel/core</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@react-native/babel-preset</string>
            <key>Title</key>
            <string>@react-native/babel-preset</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>
        <dict>
            <key>File</key>
            <string>com.k-tomoyasu.react-native-oss-license/@babel/preset-env</string>
            <key>Title</key>
            <string>@babel/preset-env</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>            
        </dict>    
    </array>
</dict>
</plist>