<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Ridibooks.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>PlugIns/WidgetExtension.appex/SC_Info/WidgetExtension.sinf</string>
		<string>PlugIns/notification.appex/SC_Info/notification.sinf</string>
		<string>SC_Info/Ridibooks.sinf</string>
	</array>
</dict>
</plist>
